/* VARIABLES */
:root{
    --width: 50px;
    --height: 50px;
    --R: 0;
    --G: 0;
    --B: 0;
    --A: 1;
    --sR: 0;
    --sG: 0;
    --sB: 0;
    --sA: 1;
    --opacity: 1;
    --padTop: 0px;
    --padRight: 0px;
    --padBottom: 0px;
    --padLeft: 0px;
    --top: 0px;
    --right: 0px;
    --bottom: 0px;
    --left: 0px;
    --posX: 0px;
    --posY: 0px;
    --posZ: 0px;
    --rotX: 0deg;
    --rotY: 0deg;
    --rotZ: 0deg;
    --scale: 1;
    --shadowX: 0px;
    --shadowY: 0px;
    --blur: 0px;
    --spread: 0px;
    --borderWidth: 0px;
    --borderColor: #000000;
    --radius: 0%;
    --gradDeg: 0deg;
    --gradA: #ffffff;
    --gradB: #ffffff;
    --boxGrad: 0deg;
    --boxA: none;
    --boxB: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat Regular";
}
body{
    overflow-x: hidden;
}
/* MATERIAL DESIGN ICONS CSS */
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
}
.wrapper{
    display: grid;
    overflow: hidden;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "aside main";
    position: relative;
}
.wrapper aside{
    grid-area: aside;
    min-height: 631px;
    overflow-y: scroll;
    border-right: 5px solid #55555520;
    box-shadow: 3px 0px 15px rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
}
.wrapper aside .github{
    position: absolute;
    top: 20px;
    left: 260px;
}
.wrapper main{
    grid-area: main;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--gradDeg), var(--gradA), var(--gradB));
}
.wrapper main .box_container{
    overflow:hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper main .box_container .box{
    width: var(--width);
    height: var(--height);
    padding: var(--padTop) var(--padRight) var(--padBottom) var(--padLeft);
    background-image: linear-gradient(var(--boxGrad), var(--boxA), var(--boxB));
    background-color:rgba(var(--R), var(--G), var(--B), var(--A));
    opacity: var(--opacity);
    margin: var(--top) var(--right) var(--bottom) var(--left);
    transform:perspective(500px) translateX(var(--posX)) translateY(var(--posY)) translateZ(var(--posZ)) rotateX(var(--rotX)) rotateY(var(--rotY)) rotateZ(var(--rotZ)) scale(var(--scale));
    box-shadow: var(--shadowX) var(--shadowY) var(--blur) var(--spread) rgba(var(--sR), var(--sG), var(--sB), var(--sA));
    border: var(--borderWidth) solid var(--borderColor);
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f5f5f5;
    font-family: "Montserrat Medium";
    font-size: 14px;
}
.box_basics{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 5px;
}
.properties{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 5px;
    transform: translateX(-350px);
    transition: all 2s ease;
}
.menuTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.15s ease;
}
.menuTitle:hover{
    background-color: #2979FF;
    color: #fff;
    padding: 5px;
}
.menuTitle i {
    font-size: 30px;
}

.toggleMenu{
    display: flex;
    background-color: #dddddd30;
    padding: 10px;
    transition: all 0.15s ease;
    animation: toggleMenu 0.5s ease forwards;
}
@keyframes toggleMenu{
    0%{
        transform: translateX(-350px)
    }
    100%{
        transform: translateX(0px);
    }
}
.open{
    display: flex;
}
.activeMenu{
    background-color: #2979FF;
    color: #f5f5f5;
    padding: 5px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-indent: 10px;
    transition: all 0.15s ease;
}
.toggleOpen{
    display: none;
}
.properties > * {
    margin: 5px 0;
}
.properties p{
    margin-top: 10px;
    text-transform: uppercase;
    font-family: "Montserrat SemiBold";
}
#addBox{
    width: 35px;
    height: 25px;
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 2px;
    background-color: #2979FF;
    color: #fff;
    font-family: "Montserrat SemiBold";
    font-size: 20px;
    cursor: pointer;
    outline: none;
}
#title{
    text-align: center;
    font-family: "Paytone One";
    font-size: 40px;
    color: #2979FF;
}
h3{
    font-family: "Montserrat Regular";
    font-size: 18px;
    text-align: left;
    margin: 15px 0px 10px 5px;
    display: flex;
    cursor: pointer;
    color: #555;
}
h5{
    font-family: "Montserrat Medium";
    color: #444;
}
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #2979FF;
    border-radius: 1px;
}
.colorSwatch{
    border-radius: 100%;
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

.colorSwatch::-webkit-color-swatch-wrapper {
    padding: 0;	
}
.colorSwatch::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}
input[type=range] {
    -webkit-appearance: none;
    width: 80%;
    margin: 5px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2), 0px 0px 2px rgba(13, 13, 13, 0.2);
    background: #2979ff;
    border-radius: 25px;
    border: 0px solid #000101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #f5f5f5;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #eeeeee;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #4389ff;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2), 0px 0px 2px rgba(13, 13, 13, 0.2);
    background: #2979ff;
    border-radius: 25px;
    border: 0px solid #000101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #f5f5f5;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #eeeeee;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #1069ff;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2), 0px 0px 2px rgba(13, 13, 13, 0.2);
  }
  input[type=range]::-ms-fill-upper {
    background: #2979ff;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2), 0px 0px 2px rgba(13, 13, 13, 0.2);
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #f5f5f5;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #eeeeee;
    cursor: pointer;
    height: 10px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #2979ff;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #4389ff;
  }
  .notification{
      text-align: center;
      display: none;
      padding: 25px;
  }
  .notification h1{
      font-size: 35px;
      font-family: "Montserrat Medium";
  }
  .notification p {
      font-family: "Montserrat Regular";
  }
  .modal {
      display: none;
  }
  .modalActive {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
      position: absolute;
      top: 50%;
      left: 65%;
      transform: translate(-65%, -50%);
      width: auto;
      min-height: 60px;
  }
  .modal h3{
      font-family: "Paytone One";
      color: #2979ff;
      letter-spacing: 1px;
      font-size: 25px;
      margin-top: 0px;
  }
  .modal p{
      font-family: "Montserrat Regular";
      margin: 10px 0;
      color: #888;
  }
  .modal a{
      text-decoration: none;
      color: #2979FF;
      font-size: 14px;
      font-family: "Montserrat Medium";
  }
  .closeBtn{
      position: absolute;
      right: 10px;
      top: 5px;
      cursor: pointer;
      transition: 0.15s ease;
  }
  .closeBtn i{
      font-size: 30px;
  }
  .closeBtn:hover{
      color: #e1302a;
  }
  @media (max-width: 600px) {
      .wrapper{
          display: none;
      }
      .notification {
          display: block;
      }
      .notification h1 {
          font-family: "Montserrat Black";
          font-size:40px;
      }
  }
  
  
  